PORT=5001
SUPABASE_URL=https://ivymlxrvohpcbgocoibh.supabase.co
SUPABASE_ANON_KEY=DEIN_PUBLISHABLE_KEY
SUPABASE_SERVICE_ROLE_KEY=DEIN_SECRET_KEY
SUPABASE_DEMO_EMAIL=demo@subscriptionguard.app
SUPABASE_DEMO_PASSWORD=demopasswort12
SUPABASE_DEMO_USER_NAME=Leon bosnw